@model int
<div class="container row">

    <div class="col-12">
        <h3>Order Confirmation</h3>
        <br />
        <hr />
        <h2>Your order @Model has been successfully placed</h2>
    </div>
</div>